// Generate responsive margin and responsive padding automatically
// Source : https://sass-lang.com/documentation/at-rules/control/if#else-if
@mixin spacing($property, $layout-map) {
  @each $layout-breakpoint, $layout-space in $layout-map {
    @if $layout-breakpoint == null {
      #{$property} : $layout-space;
    }
    @else {
      @media screen and (min-width: $layout-breakpoint) {
        #{$property} : $layout-space;
      }
    }
  }
}

// Calculate a max-width when there is padding-left and padding-right (for .wrapper element)
@mixin max-width($width, $layout-map) {
  @each $layout-breakpoint, $layout-space in $layout-map {
    @if $layout-breakpoint == null {
      max-width : $width - ($layout-space * 2);
    }
    @else {
      @media screen and (min-width: $layout-breakpoint) {
        max-width : $width - ($layout-space * 2);
      }
    }
  }
}

@mixin wrapper{
  margin:auto;
  //padding-bottom: 1rem;
  width: 100%;
  box-sizing: border-box;
  @include spacing(padding-left, $spacing-regular);
  @include spacing(padding-right, $spacing-regular);
  max-width : $wrapper_width - map-get($spacing-double, $desktop-width );
}

@mixin wrapper-narrow-container {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  /*
  @media screen and (min-width: $mobile_width) {
    padding: 0 map-get($spacing-double, $mobile-width );
    @media screen and (min-width: $tablet_width) {
      padding: 0 map-get($spacing-double, $tablet-width );
      @media screen and (min-width: $desktop_width) {
        padding: 0 map-get($spacing-double, $desktop-width );
      }
    } 
  }
  */
}

@mixin wrapper-narrow{
  //text-align: left;
  margin: auto;
  width: 100%;
  box-sizing: border-box;
  padding: 1rem 2rem;
  @include max-width($wrapper_width, $spacing-wrapper-narrow);
    @media screen and (min-width: $mobile_width) {
      padding-left: 4rem;
      padding-right: 4rem;
      @media screen and (min-width: $tablet_width) {
        padding-left: 6rem;
        padding-right: 6rem;
      }
    }
 }

@mixin grid-gap{
  grid-gap: map-get($grid-gap, mobile);
  @media screen and (min-width: $tablet_width) {
    grid-gap: map-get($grid-gap, desktop);
  }
}

@mixin element-graphique {
      background: url("./image/elementGraphique.svg");
      background-repeat: no-repeat;
      background-size: contain;
      width: 80px;
      height: 80px;
        @media screen and (min-width: $tablet_width) {
          width: 160px;
          height: 160px;
        }
    }

//// Source : https://www.kevinpowell.co/article/using-my-colors/
// Display font-familly and font-weight
// is used : @include font(standard)


@function ihag_clamp($minPX, $maxPX,$minWith,$maxWith){

  $minFontSize: calc(#{$minPX} / 16);
  $maxFontSize: calc(#{$maxPX} / 16); 

  $minVW: calc(#{$minWith} / 16 );
  $maxVW: calc(#{$maxWith} / 16 );

  $slope: calc((#{$maxFontSize} - #{$minFontSize}) / (#{$maxVW} - #{$minVW}));
  $yIntersect : calc(#{$minFontSize} + (#{$minVW} * #{$slope} * -1));

  $prefFontSize: clamp(calc(#{$minFontSize} * 1rem), calc((#{$yIntersect} * 1rem) + (#{$slope} *100) * 1vw), calc(#{$maxFontSize} * 1rem));
  @return $prefFontSize;
}


@mixin font($name, $weight: base, $f-size: default) {
  font-family: map-get(map-get($fonts, $name), 'base');

  @if $weight != base {
        @include font-weight($name, $weight);
    } @else {}
  @if $f-size != null {
        @include font-size($name, $f-size);
    } @else {}
}
@mixin font-weight($name, $weight) {
  font-weight: map-get(map-get($fonts, $name), $weight);
}
@mixin font-size($name, $f-size) {
  font-size: map-get(map-get($fonts, $name), $f-size);
}


// Create triangle
@mixin diagonal($element, $vertical, $horizontal, $color, $safe-space : null) {
  position: relative;
  box-sizing: border-box;
  &::#{$element} {
    position: absolute;
    content: "";
      width: 0;
      height: 0;
      left: 0;
    }

  @if $safe-space == null {

    @if $element == 'before'{
      // Safe space
      margin-top: 9vw;
      @media screen and (min-width: $desktop-width) {
        margin-top: 108px;
      }
      // ::before goes at the beginning
      &::#{$element} {
        top: -8.5vw;
        @media screen and (min-width: $desktop-width) {
          top: -107px;
        }
      }
    } @else if $element == 'after' {
      // Safe space
      margin-bottom: 9vw;
      @media screen and (min-width: $desktop-width) {
        margin-bottom: 108px;
      }
      // ::after goes at the end
      &::#{$element} {
        bottom: -8.5vw;
        @media screen and (min-width: $desktop-width) {
          bottom: -107px;
        }
      }
    } @else {
      @error "Unknown #{$element} : should be 'before' or 'after'.";
    }
  
  } @else {
    &::#{$element} {
      top: $safe-space;
      margin-top: -9vw;
      @media screen and (min-width: $desktop-width) {
        margin-top: -108px;
      }
    }
  }

  @if $vertical == top {
    &::#{$element} {
      border-bottom: 9vw solid $color;
      @media screen and (min-width: $desktop-width) {
        border-bottom: 108px solid $color;
      }
    }
  } @else if $vertical == bottom {
    &::#{$element} {
      border-top: 9vw solid $color;
      @media screen and (min-width: $desktop-width) {
        border-top: 108px solid $color;
      }
    }
  } @else {
    @error "Unknown direction #{$vertical}  : should be 'top' or 'bottom'";
  }

  @if $horizontal == right {
    &::#{$element} {
      border-right: 100vw solid transparent;
    }
  } @else if $horizontal == left {
   &::#{$element} {
      border-left: 100vw solid transparent;
    }
  }
  @else {
    @error "Unknown direction #{$horizontal}  : should be 'right' or 'top'";
  }
}


/* 1.3 - Pixel -> Rem
 * Function to convert px value into rem
 * Source : https://www.choosepizzi.net/sass-mixin-for-convert-px-to-rem/
 * The default font size for html is 16px
 */
 $base-size: 16;
 @function pixel($target, $context: $base-size) {
   @return ($target / $context) * 1rem;
 }
 