//color
$white: #fff;
$grey-lgt: #f0f2f2;
$grey-regular: #a4a4a4;
$grey-form: #bfc1c2;
$grey-dark: #5c5c5c;
$blue-regular: #144660;
$blue-light: #1ab8ec;
$blue-medium: #3D8695;
$blue-green: #54b3ba;
$purple-regular: #a2004c;
$default-text-color: $blue-regular;
$gray: $default-text-color;
// Breakpoints
$mobile_width: 400px;
$tablet_width: 1199px; // menu-mobile breakpoint
$desktop_width: 1200px;
$wrapper_width: 1320px;
//$background_width: 2000px;
// Text-width
$baseline-width: 65ch;
// Universal grid-gap
$grid-gap: ( mobile: 20px, desktop: 40px, );
//z-index
$index-navigation: 5000;
$index-searchbar: 2000;
$index-dropdown-active: 1100;
$index-dropdown: 1000;
// Display font-familly and font-weight automatically
// is used : @include font(standard) / @include font(standard, black)
// Source : https://www.kevinpowell.co/article/using-my-colors/
$font-standard: 'Titillium Web',
Arial,
Helvetica,
sans-serif;
$font-title: 'Noto Sans JP',
Arial,
Helvetica,
sans-serif;
$font-cursive: 'Damion',
cursive;
// 'base' is font-name, 'regular, bold, black' are font-weight, and everyhting else is font-size
// 'h1' is h1 font-size for mobile, and 'h1-xl' is font-size on desktop
$fonts: ( 
    standard: (
        //Familly
            base: $font-standard,
        //Weight
            regular: 400,
            bold: 600,
            black: 700,
        //Size
            h1: ihag_clamp(32,36,400,1000), // 40px
            h1-xl: 36px, //40px
            h2: ihag_clamp(24,26,400,1200), // 24px
            h2-xl: 26px, // 24px
            h3: ihag_clamp(18,24,400,1200),
            h3-xl: 24px,
            baseline: ihag_clamp(16,22,400,1200), // 16px
            baseline-xl: 22px, // 22px
            body-mobile: 16px,
            body-desktop: 16px,
            small: ihag_clamp(12,14,400,1200),
            small-xl: 14px, 
    ),
    title: ( 
        //Familly
            base: $font-title,
        //Weight
            regular: 500,
            bold: 700,
            black: 900,
        //Size
            h1: ihag_clamp(26,36,400,1200),
            h1-xl: 40px, 
            h2: ihag_clamp(20,30,400,1200), //24px
            h2-xl: 32px, //40px
            h3: ihag_clamp(18,24,400,1200),
            h3-xl: 24px,
            number: 100px,
            number-xl: 150px,
            number-small: 32px, 
    ), 
    cursive: (
        //Familly
            base: $font-cursive,
        //Weight
            regular: normal,
        //Size
            h1: ihag_clamp(40,54,400,1200), // 30px
            h1-xl: 54px, // 60px
            h2: ihag_clamp(40,54,400,1200), // 30px
            h2-xl: 54px, // 60px
            h3: ihag_clamp(36,48,400,1200), // 30px
            h3-xl: 48px, // 60px
    ),
);
//Responsive spacing
$spacing-regular: ( null: 30px, $mobile_width: 30px, $tablet_width: 40px, $desktop_width: 60px);
$spacing-tiny: ( null: 10px, $mobile_width: 10px, $tablet_width: 15px, $desktop_width: 20px);
$spacing-double: ( null: 60px, $mobile_width: 60px, $tablet_width: 80px, $desktop_width: 120px);
// Value used only in @mixin wrapper-narrow
// value = a - b
// a : is calculated dynamically width $wrapper-width
// b : is half of .wrapper-narrow:max-width
$spacing-wrapper-narrow: ( null: ($wrapper_width / 2) - ($mobile_width * 0.4), // on mobile, .wrapper-narrow is 80% of $tablet-width 
$mobile_width: ($wrapper_width / 2) - ($tablet_width * 0.25), // on tablet, .wrapper-narrow is 80% of $tablet-width 
$tablet_width: ($wrapper_width / 2) - ($tablet_width * 0.4), // on desktop, .wrapper-narrow is 80% of $desktop-width 
$desktop_width: ($wrapper_width / 2) - ($desktop_width * 0.35));