.animation {

  // Mobile screen : no animation
  opacity: 1;

  // Animation for Tablet and Desktop screen
  @media screen and (min-width: $tablet_width) {
    opacity: 0;
    // Default animation
    &.active {
      animation-name: appear;
      animation-duration: 0.6s;
      animation-timing-function: ease;
      animation-fill-mode: forwards;
    }
    // Appear from the right
    &.content-image {
        &.active {
          animation-name: translate-right;
        }
    }
    // Appear from the left
    &.content-image.text-image {
      &.active {
        animation-name: translate-left;
      }
    }
  }
}

@keyframes appear {
  0% {
      opacity: 0;
      transform: translate(0, 4rem);
  }

  100% {
      opacity: 1;
      transform: translate(0, 0);
  }
}

@keyframes translate-right {
  0% {
      opacity: 0;
      transform: translate(4rem, 0);
  }

  100% {
      opacity: 1;
      transform: translate(0, 0);
  }
}

@keyframes translate-left {
  0% {
      opacity: 0;
      transform: translate(-4rem, 0);
  }

  100% {
      opacity: 1;
      transform: translate(0, 0);
  }
}