// Breadcrumbs Style
#nav-breadcrumbs {
    @include spacing(padding-left, $spacing-regular);
    @include spacing(padding-right, $spacing-regular);
    #breadcrumbs {
        @include max-width($wrapper_width, $spacing-regular);
        margin: auto;
        width: 100%;
        box-sizing: border-box;
        box-sizing: border-box;
        width: 100%;
        background: $white;
        padding: 1rem;
        @include font(standard, regular, body-mobile);
        list-style: none;
        li {
            margin: 0;
            padding: 0;
            display: inline-block;
            margin-right: 1em;
            position: relative;
            color: $grey-form;
            &::after {
                position: absolute;
                content:"/";
                height: 100%;
                top: 0;
                right: -0.75em;
            }
            &:last-of-type {
                color: darken($grey-form, 20);
                @include font(standard, bold, body-mobile);
                &::after {
                    display: none;
                }
            }
        }
        a:link,
        a:visited {
            text-decoration: none;
            color: inherit;
            transition: color .2s;
        }
        a:hover {
            color: $blue-light;
        }
        a:active,
        a:focus {
            color: $blue-regular;
        }
    }
}

.wrapper #nav-breadcrumbs {
    //@include spacing(padding-left, $spacing-regular);
    //@include spacing(padding-right, $spacing-regular);
    padding-left: 0;
    padding-right: 0;
    #breadcrumbs {
        //@include max-width($wrapper_width, $spacing-double);
    }
}

.wrapper-narrow-container #nav-breadcrumbs {
    @include wrapper-narrow;
    background-color: $white;
    margin: 0;
    padding: 0;
    width: 100%;
}
