#content {
  overflow-x: hidden;
}

.bloc-vertical-spacing {
  @include spacing(padding-top, $spacing-regular);
  @include spacing(padding-bottom, $spacing-regular);
}
h1,
.h1-like {
  @include font(title, bold, h1);
/*   @media screen and (min-width: $tablet_width) {
    @include font-size(title, h1-xl);
  } */
  strong {
    @include font-weight(title, bold);
  }
}
h2,
.h2-like {
  @include font(title, bold, h2);
/*   @media screen and (min-width: $tablet_width) {
    @include font-size(title, h2-xl);
  } */
}
h3,
.h3-like {
  @include font(title, bold, h3);
/*   @media screen and (min-width: $tablet_width) {
    @include font-size(title, h3-xl);
  } */
}
.baseline {
  max-width: $baseline-width;
  margin: auto;
  @include font(standard, regular, baseline);
/*   @media screen and (min-width: $tablet_width) {
      @include font-size(standard, baseline-xl);
  } */
}

@mixin page-title {
  text-align: center;
  @include font(title, regular, h1);
/*   @media screen and (min-width: $tablet_width) {
      @include font-size(title, h1-xl);
  } */
  line-height: 1.2;
  margin: 0;
  padding: 2rem;
  span {
    @include font(cursive, regular, h1);
/*     @media screen and (min-width: $tablet_width) {
        @include font-size(cursive, h1-xl);
    } */
    line-height: 0.8;
  }
}

.page-title {
  @include page-title;
  &.no-padding {
    padding: 0 2rem;
  }
}

.section-title {
  line-height: 1.4;
  margin-top: 0;
  @include font(title, bold, h3);
/*   @media screen and (min-width: $tablet_width) {
      @include font-size(title, h3-xl);
  } */
}
.section-subtitle {
  color: $blue-light;
  line-height: 1.0;
  padding-top: 0.25em;
  display: block;
      @include font(cursive, regular, h3);
/*       @media screen and (min-width: $tablet_width) {
          @include font-size(cursive, h3-xl);
      } */
}

.entry-content,
.small-content {
  list-style-position: inside;
  
  a:link,
  a:visited {
    color: inherit;
    text-decoration: underline;
    &:hover {
      color: darken($blue-light, 10);
    }
    &:active,
    &:focus {
      color: darken($blue-light, 30);
    }
  }
  ul {
    list-style-type: square;
  }
  ul, ol {
    padding: 0;
    margin: 0;
    line-height: 1.6;
    margin-bottom: 0;
    padding-left: 1em;
  }
  ul, p {
    margin-top: 0.5em;
  }
  strong {
    @include font-weight(standard, black );
    /*
    @media screen and (min-width: $tablet_width) {
        @include font-size(standard, h3-xl);
    }
    */
    img {
      display: inline;
      margin: 0 0.5em;
    }
  }
  img {
    display: block;
    width: auto;
    max-width: 100%;
    height: auto;
    margin: 1rem 0;
  }
  /*
  &.small-content-no-title {
    strong {
      @include font-size(standard, body-mobile);
      @media screen and (min-width: $tablet_width) {
        @include font-size(standard, body-desktop);
      }
    }
  }
  */
  &.big-f-size {
    font-size: 120%;
  }
}

.small-content {
  @include font-weight(standard, small);
/*   @media screen and (min-width: $tablet_width) {
      @include font-size(standard, small-xl);
  } */
}
.small-content-title {
  margin-top: 0;
  line-height: 1.2;
  margin-bottom: 1rem;
  @include font(standard, black, h3);
/*   @media screen and (min-width: $tablet_width) {
      @include font-size(standard, h3-xl);
  } */
}
.uppercase {
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
p {
  margin-bottom: 0;
  margin-top: 1em;
}
bold {
  font-size: 1.5rem;
  @include font(standard, black);
}
.button-bloc {
  text-align: center;
  @include spacing(padding-bottom, $spacing-regular);
}
section {
  margin: 0;
}
hr {
  width: 100%;
  margin: 1rem;
  border: none;
  border-top: 1px solid $blue-regular;
}
// Hexagon-background
.hexagon-bg,
.hexagon-bg-right-bottom,
.hexagon-bg-variante {
  position: relative;
  &::after {
    color: inherit;
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background: center / contain no-repeat url("./image/hexagon.svg");
  }
}
.hexagon-blue {
  &::after {
    background: center / contain no-repeat url("./image/hexagon-blue.svg");
  }
}
.hexagon-dark {
  &::after {
    background: center / contain no-repeat url("./image/hexagon-dark.svg");
  }
}
.hexagon-bg-variante::after {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: center / contain no-repeat url("./image/hexagon-variante.svg");
}
.hexagon-bg::after {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hexagon-bg-right-bottom {
  margin-bottom: 40px;
  &::after {
    bottom: 0;
    right: 0;
    height: 80px;
    width: 80px;
    transform: translate(0, 50%);
  }
}

// Common class used with grid-layout
.grid-illustration {
  grid-area: illustration;
}
.grid-content {
  grid-area: content;
}

// Custom Title "Les + DIGITEMIS
.custom-title {
  svg {
    width: 1.5em;
    height: 1.5em;
    margin-bottom: -0.35em;
  }
}

a.right-arrow {
  text-decoration: none;
  position: relative;
  padding-right: 24px;
  img {
    position: absolute;
    top: 50%;
    right: 0;
    transform: rotate(-90deg) translate(50%, 0);
  };
}


.white-bg-trick {
  position: relative;
  z-index: 10;
  &:before {
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    background: $white;
    top: 0;
    left: 0;
    z-index: -2;
  }
}

// bloc Button on a narrwo white background
#sub-wrapper-content > .button-bloc, 
#post-content > .button-bloc {
  background: #fff;
  @include wrapper-narrow;    
}