// Banner colors
@mixin cookie-banner {
    background-color: $white;
    color: $blue-regular;
    * {
        color: inherit;
    }
    box-shadow: 0 9px 24px rgba(0, 0, 0, 0.3);
    font-family: $font-standard;
    span {
        max-width: 100ch;
        color: $blue-regular;
        line-height: 2;
        margin-left: auto;
        margin-right: auto;
    }
}

// Banner buttons standard
@mixin coockies-button {
    @include font-weight(standard, normal);
    font-size: pixel(16);
    background: transparent;
    display: inline-block;
    margin: 0;
    margin-right: 1em;
    padding: 0.5em 1.5em;
    box-sizing: border-box;
    color: $blue-regular;
    text-decoration: none;
    cursor: pointer;
    transition: all .2s;
    &:hover {
        background: $grey-lgt;
        color: $blue-light;
    }
    &:active,
    &:focus {
        color: $blue-light;
        background: $white;
        border-color: $blue-light;
    }
    @media screen and (max-width:$tablet_width) {
        display: block;
        margin: auto;
        margin-bottom: 1em;
    }
}

// Banner button "Accept"
@mixin coockies-button-accept {
    @include coockies-button;
    background: $blue-regular;
    color: $white;
    &:hover {
        background: $blue-light;
        color: $blue-regular;
    }
}

body #tarteaucitronRoot {
    #tarteaucitronAlertSmall,
    #tarteaucitronAlertBig {
        //@include cookie-banner;
        > button{
            /* @media screen and (max-width:1200px) {
                margin: .5rem auto !important;
            } */
            span{
                &::before{
                    display: none !important;
                }
            }
            margin: .5rem !important;
            font-size: 14px !important;
            @include button;
        }
        #tarteaucitronDisclaimerAlert{
            color: $blue-regular;
        }
        color: $blue-regular;
        background-color: $white;
        box-shadow: 0 9px 24px rgba(0, 0, 0, 0.3);
        font-family: $font-standard;
    }
    // Small Banner
    #tarteaucitronAlertSmall {
        display: none !important;
/*         right: unset;
        left: 1rem;
        padding-right: pixel(60);
        background-image: url(image/coockies_star.png);
        background-position: center right; // position left - top
        background-repeat: no-repeat;
        background-size: pixel(54) pixel(40);
        min-height: pixel(64);
        border-top-left-radius: pixel(10);
        border-top-right-radius: pixel(10); */
    }
    // Big banner
    #tarteaucitronAlertBig {
        // Mobile layout
        text-align: center;
        padding: pixel(40) pixel(20) pixel(30);
        width: 100%;
        max-width: 100%;
        max-height: 80vh;
        overflow: hidden;
        box-sizing: border-box;
        background-image: url(image/cookies_stars.png);
        background-position: 1% 95%; // position left - top
        background-repeat: no-repeat;
        background-size: pixel(131) pixel(117);
        // Desktop layout
        @media screen and (min-width: 930px) {
            padding: 2.5rem 8.25rem 1.875rem;
        }
        @media screen and (min-width: $tablet_width) {
            padding: 3rem;
            padding-left: pixel(200);
            background-position: 5% pixel(60); // position left - top
            background-size: pixel(131) pixel(117);
        }
        @media screen and (min-width: 1200px) {
            padding: 3rem;
            padding-left: 18rem;
            background-position: 10% 2.75rem; // position left - top
            background-size: pixel(131) pixel(117);
        }
        @media screen and (min-width: 1400px) {
            padding: 3rem;
            padding-left: 20rem;
            background-position: 12% 2.75rem; // position left - top
            background-size: pixel(131) pixel(117);
        }
        @media screen and (min-width: 1600px) {
            padding: 3rem;
            padding-left: 20rem;
            background-position: 12% 2.75rem; // position left - top
            background-size: pixel(131) pixel(117);
        }
        // Text
/*         span {
            display: block;
            margin-bottom: 2.5rem;
            @media screen and (min-width: $tablet_width) {
                text-align: left;
            }
        } */
        // Trick title
        #tarteaucitronDisclaimerAlert::first-line {
            @include font-weight(standard, bold);
            font-size: 20px !important;
        }
    }
    // Buttons standard
/*     #tarteaucitronAlertBig #tarteaucitronCloseAlert,
    #tarteaucitronAlertBig #tarteaucitronDenyAll,
    #tarteaucitronAlertBig #tarteaucitronPersonalize,
    #tarteaucitron #tarteaucitronPrivacyUrl,
    #tarteaucitron #tarteaucitronPrivacyUrlDialog {
        @include coockies-button;
    }
    //Button accept
    #tarteaucitronAlertBig #tarteaucitronPersonalize {
        @include coockies-button-accept;
    } */
}