#main > *:last-child > *:last-child > *:last-child {
  padding-bottom: 8vw; // background-trick used for Grey chevron
  // Cas particulier
  &.module-use-case {
    margin-bottom: 0;
    &::after {
      display: none;
    }
  }
}

#footer {
  @media screen and (min-width: $tablet_width) {
    overflow: hidden;
    margin-top: -7vw;
    padding-top: 7vw; // background-trick used for Grey chevron
  }
  
    // Grey chevron before pre-footer
  #footer-top {
    position: relative;
    text-align: center;
    padding-top: 2rem;
    width: 100vw;
    background-color: darken($grey-lgt, 6);
    margin-top: 0;
    //z-index: 100;
    &::before,
    &::after {
        content: '';
        position: absolute;
        top: -4.5vw;
        height: 7vw;
        width: 50%;
        background-color: inherit;
        z-index: 0
    }
    &::before {
        left: 0;
        transform: skew(0deg, 5deg);
    }
    &::after {
        right: 0;
        transform: skew(0deg, -5deg);
    }

    #footer-top-content {
      max-width: 620px;
      z-index: 200;
      position: relative;
      #footer-top-card {
        display: inline-block;
        box-sizing: border-box;
        @include spacing(padding-left, $spacing-regular);
        @include spacing(padding-right, $spacing-regular);
        padding-top: 2rem;
        padding-bottom: 2rem;
        margin-bottom: - (map-get($spacing-regular, $mobile-width ));
        @media screen and (min-width: $tablet-width) {
            margin-bottom: - (map-get($spacing-regular, $tablet-width ));
            @media screen and (min-width: $desktop-width) {
                margin-bottom: - (map-get($spacing-regular, $desktop-width ));
          }
        }
        background: $white;
        &.footer-recrutement {
          background: center / cover url("./image/footer-recrutment-bg.png");
        }
        box-shadow: 0 0 10px rgba(0,0,0,0.2);
        width: auto;
        p {
          margin: 0;
        }
      }
      h2 {
        margin : 0
      }
    }

    #footer-newslettter-form {
      display: grid;
      grid-gap: 1rem;
      grid-template-columns: 1fr;
      @media screen and (min-width: $mobile-width) {
        grid-template-columns: auto 8rem;
      }
      input.button {
        font-size: 0.875rem;
      }
      i {
        grid-column: span 2;
      }
    }
  }


  #footer-bottom {
    background-color: $blue-regular;
    color: $white;
    //box-sizing: border-box;
    @include spacing(padding-top, $spacing-double);
    @include spacing(padding-bottom, $spacing-regular);
    font-size: 14px;

    // Background tick : blue triangle
      // Blue triangle after pre-footer 
      position: relative;
      box-sizing: border-box;
      padding-bottom: 4.5vw;
      //margin-top: -8px; // White space disapears
      &::before {
          position: absolute;
          content : "";
          width: 0;
          height: 0;
          top: -4.4vw;
          left: 0;
          border-left: 50vw solid transparent;
          border-right: 50vw solid transparent;
          border-bottom: 4.5vw solid $blue-regular;
          border-bottom: 4.5vw solid $blue-regular;
          //z-index: 150;
      }
    }

 #footer-logo img {
    width: 150px;
    height: auto;
  }
  ul {
    padding: 0;
    margin: 0;
    li {
      padding: 0;
      margin: 0;
      list-style: none;
    }
  }
  #footer-links-container {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 50px;
    justify-items: left;
    a {
      width: max-content;
    }
    @media screen and (min-width: $mobile_width) {
      grid-gap: 10px;
      grid-template-columns: 1fr 1fr;
      @media screen and (min-width: $tablet_width) {
        grid-gap: 10px;
        grid-template-columns: 1fr 2fr 1fr;
      }
    }
    > div {
      padding-top: 2.5rem;
    }
    #copyright {
      margin: 10px 0;
      text-transform: uppercase;
      letter-spacing: 0.05em;
    }
    #footer-legal,
    #footer-menu {
      a {
        display: block;
        box-sizing: border-box;
        text-decoration: none;
        font-size: 14px;
        margin-bottom: 0.25em;
        text-decoration: none;
        transition: all .2;
        color: $white;
        &:hover {
          color: $blue-light;
        }
        &:active,
        &:focus {
          color: darken($blue-light, 10);
        }
      }
    }
    #footer-legal > ul > li {
      display: block;
    }
    #footer-menu > ul > li{
      display: inline-block;
      width: 48%;
    }
    > #footer-contact {
      padding-top : 0;
      h2 {
        margin-top: 0;
        margin-bottom: 20px;
        font-size: 1rem;
        @include font(standard, regular);
        position: relative;
        &:after {
          position: absolute;
          content:"";
          left: 0;
          bottom: -0.5rem;
          width: 2.5rem;
          height: 1px;
          background: $white;
        }
      }
      p {
        margin: 0;
        line-height: 1;
        margin-bottom: 20px;
        font-size: 12px;
        a {
          text-decoration: none;
          display: inline-block;
          font-size: 1.25rem;
          @include font(standard, bold);
          margin-bottom: 0.5rem;
          color: $white;
          // &:hover,
          // &:focus {
          //   color: $blue-light;
          // }
          &:active {
            color: darken($blue-light, 10);
          }
        }
      }
      .button {
        font-size: 14px;
        display: inline-block;
      }
    }
  }
}

