// Menu item stylesheet
// 1 - LINKS STYLE ========================
/// Reset
#masthead ul {
    //display: inline-block;
    padding: 0;
    margin: 0;
    list-style: none;
    li {
        //display: inline-block;
        margin: 0;
        padding: 0;
        a {
            text-decoration: none;
        }
    }
}

// Links style 1 : white on background blue (for desktop)
@mixin links-blue-bg {
    a:link {
        box-sizing: border-box;
        @include font(standard, regular);
        padding: 2px 4px;
        @media screen and (min-width: 60rem) {
            padding: 0.25rem 0.5rem;
        }
        color: $white;
        font-size: 16px;
        text-decoration: none;
        //border: 1px solid rgba(0, 0, 0, 0);
        transition: color .2;
    }
    a:visited {
        color: darken($white, 8);
    }
    // a:hover {
    //     color: $white;
    //     background: lighten($blue-regular, 10);
    // }
    a:active {
        background: $blue-green;
    }
    a:focus {
        background-color: $blue-regular;
        color: $blue-green;
    }
    li.current_page_item,
    li.current-menu-ancestor {
        >a:link,
        >a:visited {
            color: white;
            padding-bottom: .70em;
            border-bottom: 0.30em solid $blue-green;
            border-radius: unset;
        }
        .sub-menu {
            a:link,
            a:visited {
                border-bottom: none;
            }
        }
    }
    li:hover a {
        padding-bottom: .70em;
        border-bottom: 0.30em solid $blue-green;
    }
    li:hover .sub-menu {
        a:link,
        a:visited,
        a:hover {
            border-bottom: none;
        }
    }
}

// Links style 2 : blue on background white (for desktop)
@mixin links-services {
    color: $blue-regular;
    text-transform: uppercase;
    ul a {
        color: $grey-dark;
        text-transform: none;
    }
    li {
        width: 100%;
        display: block;
    }
    ul {
        margin-top: .5em;
    }
    ul ul {
        a:link,
        a:visited {
            color: $blue-green;
            font-size: 13px !important;
            &:hover {
                color: $blue-medium;
            }
            // &:visited{
            //     color: $blue-green !important;
            // }
        }
        margin-top:0;
        margin-bottom:.5em;
    }
    ul a:link {
        @include font-weight(standard, regular);
        font-size: 16px;
    }
    a:link {
        @include font-weight(standard, bold);
        box-sizing: border-box;
        display: block;
        padding: 2px 4px;
        color: inherit;
        font-size: 16px !important;
        //font-weight: 800;
        text-decoration: none;
        background-color: none;
        //transition: all .2s;
    }
    a:visited {
        color: inherit;
        //color: $blue-green;
    }
    a:hover {
        color: $blue-green;
        background-color: $white;
    }
    a:active {
        color: $purple-regular;
        background-color: $white;
    }
    a:focus {
        color: $blue-green;
        background-color: $white;
    }
}

// 2 - NAVIGATION STYLE ========================
// Nav Style (for desktop)
@mixin nav-blue-bg-desktop {
    @include links-blue-bg; //links style
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    z-index: $index-navigation;
    li {
        vertical-align: top;
        display: inline-block;
    }
    //Last link 'Phone' has a different style
    .secondary>li:last-of-type>a {
        &:link,
        &:visited {
            border: 1px solid $white;
            padding: 0.25em 1.5em;
            margin-left: 8px;
        }
    }
}

// Dropdown style (for desktop)
@mixin nav-dropdown-desktop {
    >.menu-item-has-children {
        padding-bottom: 4rem;
        position: relative;
        // Thin blue line
        &::before {
            /*content: '';
            position: absolute;
            top: 2.5rem;
            left: 0;
            width: 100%;
            height: 0.25em;
            background: $blue-green;
            opacity: 0;
            transition: opacity .2s;
            z-index: $index-dropdown-active + 10;
            margin-top: -8px;*/
        }
    }
    // Line appears
    >.menu-item-has-children:hover,
    >.menu-item-has-children:active,
    >.menu-item-has-children:focus {
        &::before {
            opacity: 1;
        }
    }
    >li>ul {
        display: grid;
        grid-auto-flow: column;
        //grid-auto-columns: 160px;
        grid-auto-columns: 250px;
        grid-gap: 1rem;
        padding: 3rem 1.5rem;
        text-align: left;
        position: fixed;
        //overflow: hidden;
        box-sizing: border-box;
        position: absolute;
        left: 0;
        //top: 2.75rem;
        top: 45px;
        width: auto;
        //min-width: pixel(400);
        background: white;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
        visibility: hidden;
        z-index: $index-dropdown;
        //transition: all .4s;
        margin-top: -8px;
        &:hover {
            animation: menu-appear 0.4s;
            animation-fill-mode: forwards;
            visibility: visible;
            transform: translate(0%, 0%);
            opacity: 0;
            visibility: hidden;
            z-index: $index-dropdown;
        }
    }
    // Dropdown appears
    >li:hover>ul,
    >li:focus>ul {
        animation: menu-appear 0.4s;
        animation-fill-mode: forwards;
        visibility: visible;
        transform: translate(0%, 0%);
        opacity: 0;
        visibility: hidden;
        z-index: $index-dropdown;
        // For Edge only
        @supports (-ms-ime-align: auto) {
            min-height: 3.5rem;
        }
    }
}

@keyframes menu-appear {
    from {
        opacity: 0;
        visibility: hidden;
        z-index: $index-dropdown;
    }
    20% {
        z-index: $index-dropdown-active;
        opacity: 0;
        visibility: hidden;
    }
    to {
        max-height: unset;
        padding-top: 1rem;
        padding-bottom: 1rem;
        opacity: 1;
        visibility: visible;
    }
}

// Nav Style (for desktop)
@mixin nav-white-bg-desktop {
    >li,
    >li>ul {
        display: block;
    }
    //Links level 2
    >li {
        text-transform: uppercase;
        letter-spacing: 0.05em;
    }
    //Links level 3, 4, 5 ...
    li>ul>li {
        font-family: $font-standard;
        text-transform: none;
        letter-spacing: 0;
        font-weight: 400;
        display: block;
        a:visited,
        a:link {
            @include font-weight(standard, normal);
            box-sizing: border-box;
            display: inline-block;
            padding: 2px 4px;
            color: $blue-regular;
            font-size: 16px !important;
            text-decoration: none;
            background-color: none;
            transition: all .2;
            //            color: $grey-dark;
        }
        a:hover {
            color: $blue-green;
        }
    }
    ul a:link {
        @include font-weight(standard, regular);
        font-size: 16px !important;
    }
    a:link {
        @include font-weight(standard, bold);
        box-sizing: border-box;
        display: inline-block;
        padding: 2px 4px;
        color: $blue-regular;
        font-size: 16px !important;
        text-decoration: none;
        background-color: none;
        transition: all .2;
    }
    a:visited {
        color: $blue-regular;
    }
    a:hover {
        color: $blue-green;
        background-color: $white;
    }
    a:active {
        color: $purple-regular;
        background-color: $white;
        //background: $blue-light;
    }
    a:focus {
        color: $blue-green;
        background-color: $white;
    }
}

// Nav style - used for "Services" links (for desktop)
@mixin nav-services-desktop {
    //position: static;
    >ul {
        //left: -50vw;
        //width: ($tablet_width - 120px);
        @media screen and (min-width: $desktop_width) {
            width: 1280px;
            padding-left: 40px;
        }
        width:$desktop_width;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        box-sizing: border-box;
        @include links-services; //links style
        // For Edge only
        @supports (-ms-ime-align: auto) {
            min-height: 500px;
        }
    }
    .link-has-thumbnail {
        margin-top: auto;
        padding-top: 1rem;
        opacity: 1;
        //max-height: inherit;
        //opacity: inherit;
        //overflow: hidden;
        >a {
            z-index: 3;
            padding: 0.5em 1em;
            height: 100px;
            position: relative;
            margin-left: -25px;
            &:link,
            &:visited {
                color: $white;
            }
            &:hover,
            &:focus {
                &:before {
                    background: $blue-regular;
                }
            }
            &:before,
            &:after {
                position: absolute;
                top: 0;
                left: 0;
                content: "";
            }
            &:before {
                //width: 100%;
                width: 160px;
                //height: 2rem;
                height: 2.5rem;
                z-index: -1;
                background: rgba($blue-green, 0.9);
                //transition: all .2s;
            }
            &:after {
                height: 100%;
                //max-width: 100%;
                width: 275px;
                z-index: -2;
            }
            //transition: inherit;
            //background is defined in header.php
        }
    }
}

// Prevent link-has-thumbnail style on mobile devices 
#menu-primary>ul.primary>li.services-nav-style>ul .link-has-thumbnail {
    @media screen and (max-width: $tablet_width - 1) {
        background: none;
    }
}

// Nav style - used for "Services" links
@mixin nav-mobile {
    //Level 0 - Container
    text-transform: uppercase;
    letter-spacing: 0.05em;
    @include font(standard, regular);
    ul.primary {
        padding-top: map-get($spacing-regular, $mobile_width)
    }
    ul.primary,
    ul.secondary {
        padding-left: map-get($spacing-regular, $mobile_width);
        padding-right: map-get($spacing-regular, $mobile_width);
        li {
            margin-bottom: 1em;
        }
        a {
            display: block;
            margin-top: 0.5em;
            margin-bottom: 0.5em;
            margin-right: 2rem; // Safe zone for the arrow-back
        }
        >li.menu-item-has-children,
        >li>ul>li.menu-item-has-children {
            margin-bottom: 0;
            position: relative;
            >ul {
                height: 0;
                //transition: all .2s;
                overflow: hidden;
                box-sizing: border-box;
                padding: 0;
                margin-bottom: 0;
                >li>a {
                    &:first-of-type {
                        margin-top: 0;
                    }
                }
            }
            &:hover,
            &:active,
            &:focus,
            &:focus-within {
                >ul {
                    height: auto;
                    padding: 1em 1em 0 1em;
                    //margin-bottom: 1em;
                }
            }
        }
        li.menu-item-has-children:active::after,
        li.menu-item-has-children:hover::after,
        li.menu-item-has-children:focus::after,
        li.menu-item-has-children:focus-within::after {
            transform: rotate(90deg);
        }
        >li>ul>li.menu-item-has-children::after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            width: 1em;
            height: 0.6em;
            background-image: url("./image/arrow-white.svg");
            background-repeat: no-repeat;
            background-size: 1em 0.6em;
            background-position: right 0px top 0px;
            transition: transform .2s;
        }
        >li.menu-item-has-children::after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            width: 1em;
            height: 0.6em;
            background-image: url("./image/arrow-white.svg");
            background-repeat: no-repeat;
            background-size: 1em 0.6em;
            background-position: right 0px top 0px;
            transition: transform .2s;
        }
    }
    //Links level 1
    >ul>li a {
        color: white;
        &:hover {
            color: darken($white, 8);
        }
        &:active {
            color: $blue-green;
        }
    }
    //background: blue;
    //Links level 2
    >ul>li>ul {
        background: lighten($blue-regular, 10);
        >li>a {
            color: $blue-green;
            background: lighten($blue-regular, 10);
            &:hover {
                color: darken($white, 8);
            }
            &:active {
                color: $white;
            }
        }
    }
    //Links level 3
    >ul>li>ul>li>ul {
        text-transform: initial;
        @include font(standard,
        bold);
        a {
            background: lighten($blue-regular, 10);
        }
    }
}

// 3 - NAVIGATION BEHAVIOUR ========================
// DESKTOP BEAHAVIOUR
@media screen and (min-width: $tablet_width) {
    // Menu level 1
    #menu-primary ul,
    #menu-secondary {
        @include nav-blue-bg-desktop;
    }
    // Menu Level 2 : dropdowns
    #menu-primary>ul {
        @include nav-dropdown-desktop;
        // Default style
        >li:not(.services-nav-style)>ul {
            @include nav-white-bg-desktop;
        }
        // Services-nav-style
        >li.services-nav-style {
            @include nav-services-desktop;
        }
        >li.services-nav-style>ul {
            @include nav-services-desktop;
        }
    }
}

@media screen and (max-width: $tablet_width) {
    // MOBILE BEHAVIOUR {
    #menu-primary,
    #menu-secondary {
        @include nav-mobile;
    }
}

// Corrige la position des dropdowns pour les 3 derniers liens 
#menu-primary>ul>li:last-child>ul,
#menu-primary>ul>li:nth-last-child(2)>ul,
#menu-primary>ul>li:nth-last-child(3)>ul {
    left: unset;
    right: 0;
}

@media screen and (min-width: $desktop_width) {
    // Centre le dropdown du menu "Service"
    #menu-primary>ul>li.services-nav-style>ul {
        left: 50%;
        //margin-left: -(($tablet_width - 120px) /2);
        margin-left: -560px;
    }
    // Positionne le lien "Notre démarche" en bas du dropdown géant
    #menu-primary>ul>li.services-nav-style>ul>li:first-child,
    #menu-primary>ul>li.services-nav-style>ul>li:first-child>ul {
        height: 100%;
        display: flex;
        flex-direction: column;
    }
}