.search-title {
  margin-left: 1rem;
  @include font(standard, bold, baseline);
  @media screen and (min-width: $mobile_width) {
    grid-column: span 2;
/*     @media screen and (min-width: $tablet-width) {
      @include font-size(standard, baseline-xl);
    } */
  }
}

.search-card {
  background: $blue-regular;
  color: white;
  text-decoration: none;
  font-size: 1rem;
  padding: 1rem;
  text-align: center;
  @media screen and (min-width: $tablet_width) {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    text-align: left;
  } 
  h3 {
    margin: 0;
    @include font(standard, bold, baseline);
/*     @media screen and (min-width: $tablet-width) {
        @include font-size(standard, baseline-xl);
    } */
  }
  a.button {
    display: inline-block;
    margin-top: 1rem;
    font-size: 0.875rem;
    height: 2rem;
    @media screen and (min-width: $tablet_width) {
      margin-left: 1rem;
      margin-top: 0;
    } 
  }
}