.author{
    h1{
        padding-top: 1rem;
    }
}

.author-template{
    padding-top: 1rem;
    padding-bottom: 1rem;
    @media screen and (min-width:1200px) {
        height: 22vw;
        max-height: 350px;
    }
    .author-header{
        display: flex;
        align-items: center;
        gap: 2rem;
        flex-wrap: wrap;
        .author-title{
            margin: 0;
        }
    }
    .author-bio{
        &-content{
            .author-link{
                
            }
        }
        .avatar{
            width: 85px;
            aspect-ratio: 1;
        }
    }
}
.author-posts{
    .post-container{
        padding-bottom: 8vw;
    }
}