.single-taxo{
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    //gap: .5rem;
    li{
        list-style-type: none;
        a{
            text-transform: capitalize;
            text-decoration: underline;
            display: inline-block;
            padding: 0px 4px;
            color: $blue-light;
            &:hover{
                color: $blue-green;
            }
        }
    }
}

.auth-date-info{
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    *{
        margin: 0;
        padding: 0;
    }
}




.single-post,
.single-recrutement {
    background-color: $grey-lgt;
    .entry-meta {
        display: block;
        width: 100%;
        text-align: left;
    }
    time, 
    .author {
        display: block;
    }
    time {
        @include font-weight(standard, bold);
    }
    img {
        width:100%;
        max-width: 100%;
        object-fit: cover;
    }
}

.sub-wrapper {
    //@include max-width($wrapper_width, $spacing-double);
    @include spacing(padding-left, $spacing-regular);
    @include spacing(padding-right, $spacing-regular);
    background-color: $white;
    padding-top: 2rem;
    padding-bottom: 2rem;
    //width: 100%;
    &.no-padding {
        padding-top: 0;
        padding-bottom: 2rem;
    }
    p {
        margin-top: 0;
    }
}

#post-share {
    padding: 1rem 2rem;
    background-color: $white;
    width: 100%;
    p {
        @include font-weight(standard, bold);
        margin-top: 0;
        margin-bottom: 0.5rem;
    }
    a:link {
        display: inline-block;
        text-decoration: none;
        padding: 0.25rem;
        background-color:$white;
        transition: background-color .2s;
        text-align: center;
    }
    a:hover {
        background-color: $grey-lgt;
    }
    a:focus,
    a:active {
        background-color: $blue-light;
    }
    img {
        width: auto;
        height: 1.25rem;
        object-fit: contain;
    }
}

#content #blog-archive-content {
    .bloc-vertical-spacing {
        margin-bottom: 0;
        margin-top: 0;
    }
    section {
        padding-bottom : 0;
    }
}
