// Used in single-service.php to style "Services complémentaires"
.post-container.service-container {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    @media screen and (min-width: 500px) {
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: auto;
    }
}
.service-card {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    position: relative;
    .service-thumb {
        height: 100%;
        width: 100%;
        overflow: hidden;
        //display: flex;
        img {
            width: 100%;
            height: auto;
            object-fit: cover;
        }
    }
    .service-legend {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        min-height: 8rem;
        background: rgba($blue-regular, 0.9);
        color: $white;
        padding: 1rem 2rem;
        box-sizing: border-box;
        h3 {
            font-size: 1.25rem;
            margin: 0;
            margin-bottom: 0.5rem;
        }
        a {
            font-size: 1rem;
            color: $blue-light;
            @include font-weight(standard, bold);
            text-decoration: none;
            margin: 0;
            text-transform: uppercase;
        }
    }
}

.service #last-section .page-title {
    padding-left: 0;
    padding-right: 0;
}