.abstract-use-case {
    background-color: $blue-regular;
    @include diagonal('before', top, left, $blue-regular);
    @include spacing(padding-bottom, $spacing-regular);
    .section-title {
        margin-bottom: 2rem;
    }
    .items-abstract-case-loop {
        display: grid;
        @include grid-gap;
        grid-template-columns: 1fr 1fr;
        @media screen and (min-width: $mobile_width) {
            grid-template-columns: repeat( auto-fit, minmax(120px, 1fr) );
        }
    }
    img {
        width: 80px;
        height: auto;
        margin-bottom: 0.5rem;
    }
    
}