.carrousel-home {
  position: relative;
  box-sizing:border-box;
  width: 100%;
  .slide-layout {
    @include spacing(padding-top, $spacing-regular);
    @include spacing(padding-bottom, $spacing-regular);
    display: grid;
    object-fit: contain;  
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr;
    @include grid-gap;
    @media screen and (min-width: $mobile_width) {
      grid-template-columns: 1fr 1fr;
    }
    
    img {
      width: 100%;
      height: auto;
    }
    span {
      @include spacing(margin-top, $spacing-regular);
      margin-bottom: 0.5rem;
      @include font(title, black, h1);
/*       @media screen and (min-width: $tablet_width) {
        @include font-size (title, h1-xl);
      } */
    }
    .entry-content strong {
      @include font(title, regular, h3);
/*       @media screen and (min-width: $tablet_width) {
        @include font-size (title, h3-xl);
      } */
    }
  }

  /* Hide the images by default */
  .slide {
    display: none;
    padding-bottom: 10vw; // because of block .chapo (see below) 
    background-size: cover;
    background-repeat: no-repeat;
    background-color: $blue-medium;
    //min-height: 50vw;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  }

  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s;
    user-select: none;
    opacity: 0.5;
    &:hover {
      background: $blue-regular;
      opacity: 1;
    }
    &:active, 
    &:focus {
      background: $blue-light;
      opacity: 1;
    }
  }

  .prev {
    margin-left: -16px;
    @include spacing(left, $spacing-regular);
  }

  /* Position the "next button" to the right */
  .next {
    @include spacing(right, $spacing-regular);
    margin-right: -16px;
  }
  
  #dot-container {
    @include spacing(padding-right, $spacing-regular);
    position: absolute;
    right: 0;
    bottom: 12vw;
      /* The dots/bullets/indicators */
    .dot {
      cursor: pointer;
      height: 0.5rem;
      width: 0.5rem;
      margin: 0 0.25rem;
      background-color: $white;
      border-radius: 50%;
      display: inline-block;
      transition: opacity 0.6s ease;
      opacity: 0.5;
      &.active,
      &:active,
      &:focus, 
      &:hover {
        opacity: 1;
      }
    }
  }


  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }

  @-webkit-keyframes fade {
    from {opacity: 0}
    to {opacity: 1}
  }

  @keyframes fade {
    from {opacity: 0}
    to {opacity: 1}
  }
}

.carrousel-home + .chapo {
  z-index: 100;
  position: relative;
  margin-top: - 10vw;
}