.chapo {
  @include spacing (margin-left, $spacing-regular);
  @include spacing (margin-right, $spacing-regular);
  @media screen and (min-width: $wrapper_width - map-get($spacing-double , $desktop_width)) {
    margin-left: auto;
    margin-right: auto;
    .wrapper {
      //@include max-width($wrapper_width, $spacing-double);
    }
  }
  box-sizing: border-box;
  > div {
    background: $white;
  }
  h1 {
    @include font(title, regular, h2);
/*     @media screen and (min-width: $tablet_width) {
        @include font-size(title, h2-xl);
    } */
    line-height: 1.2;
    margin-top: 0;
    margin: auto;
    margin-bottom: 2rem;
    span {
      @include font(cursive, regular, h3);
/*       @media screen and (min-width: $tablet_width) {
          @include font-size(cursive, h3-xl);
      } */
      line-height: 0.8;
    }
  }
  p {
   @extend .baseline;
  }
}