
#post-content{
  .content-image{
    background: none;
  }
}
.content-image {
  background: $white;
  overflow: hidden;
  .content-image-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    @include grid-gap;
    grid-template-areas: "text" "image";
    &.contain-element-graphique {
      @media screen and (min-width: $mobile_width) {
        padding-bottom: 40px;
        @media screen and (min-width: $tablet_width) {
          padding-bottom: 80px;
        }
      }
    }
    @media screen and (min-width: $mobile_width) {
      &.prop-50-50,
      &.prop-40-60,
      &.prop-60-40 {
        grid-template-columns: 1fr 1fr;
      }
      &.text-image {
        grid-template-areas: "text image";
      }
      &.image-text {
        grid-template-areas: "image text";
      }
      @media screen and (min-width: $tablet_width) {
        &.prop-40-60 {
          grid-template-columns: 2fr 3fr;
        }
        &.prop-60-40 {
          grid-template-columns: 3fr 2fr;
        }
      }
    }
  }
  .content-image-content {
    grid-area:  text;
  }
  .content-image-image {
    grid-area: image;
    object-fit: contain;
    z-index: 2;
    img {
      width: 100%;
      height: auto;
    }
  }

  .element-graphique {
      position: relative;
      display: flex;
      padding-bottom: 40px;
      @media screen and (min-width: $tablet_width) {
        padding-bottom: 80px;
      }
      img {
        margin: auto;
      }
      //Dark background
      &:before,
      &:after {
        content:"";
        position: absolute;
      }
      &:before{
        z-index: -1;
        height: 50%;
        width: 100vw;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 0);
        background: $blue-regular;
        @media screen and (min-width: $mobile_width) {
          width: 60vw;
          transform: none;
        }
      }
      // light blue arc
      &:after {
        @include element-graphique;
        left: 0;
        bottom: 0;
        @media screen and (min-width: $mobile_width) {
          transform: translate(0, 50%);
          @media screen and (min-width: $desktop_width) {
            transform: translate(-50%, 50%);
          }
        }
      }
      @media screen and (min-width: $mobile_width) {
        &.parent-text-image {
          &:before {
            left: 0;
            right: unset;
          }
          &:after {
            right: 0;
            left: unset;
            transform: scale(-100%, 100%);
            @media screen and (min-width: $mobile_width) {
              transform: translate(0, 50%) scale(-100%, 100%);
              @media screen and (min-width: $desktop_width) {
                transform: translate(-25%, 50%) scale(-100%, 100%);
              }
            }
          }
        }
        &.parent-image-text {
          &:before {
            right: 0;
            left: unset;
          }
          &:after {
            left: 0;
            right: unset;
            //transform: translate(-50%, 50%);
          }
        }
      }
    }
  h2 {
    margin-top: 0;
    @include font(title, black, h2);
/*     @media screen and (min-width: $tablet_width) {
        @include font(title, black, h2-xl);
    } */
    //margin-bottom: 0;
  }
.entry-content {
  margin-bottom: 2rem;
}
}

// Bloc "Content Image - Light"
.content-image-light {
  > div {
    background: $white;
    margin-bottom: 2rem;
    .content-image-light-layout {
      display: grid;
      grid-template-columns: 1fr;
      @include grid-gap;
      @media screen and (min-width: $mobile_width) {
        grid-template-columns: 1fr 1fr;
        align-items: center;
      }
    }
  }
  .content-image {
    display: flex;
    justify-content: center;
  }
  img {
    min-width: 100%;
    height: auto;
  }
}