.cross-nav {
  .section-title {
    margin-bottom: 2rem;
  }
  .nav-loop {
    margin: 2rem auto;
    display: grid;
    @include grid-gap;
    grid-template-columns: 1fr 1fr;
    @media screen and (min-width: $mobile_width) {
      grid-template-columns: repeat( auto-fit, minmax(100px, 1fr) );
      @media screen and (min-width: $tablet_width) {
        grid-template-columns: repeat( auto-fit, minmax(120px, 1fr) );
      }
    }
    grid-template-rows: minmax(60px, 1fr);
    .nav-loop-item {
      padding: 1rem 0;
      position: relative;
      transition: background-color .2s;
      &:after {
        content: "";
        position: absolute;
        top: 0;
        right: - (map-get($grid-gap, mobile) / 2 ); // is in the center of the gutter
        @media screen and (min-width: $tablet_width) {
          right: - (map-get($grid-gap, desktop) / 2);
        }
        width: 1px;
        height: 100%;
        background: $grey-regular;
      }
      &:last-of-type::after {
        display: none;
      }
      @media screen and (max-width: $mobile_width - 1) {
        &:nth-child(even)::after {
          display: none;
        }
      }
    }
    /*
    .nav-loop-item-hover:hover {
      background: darken($white, 4);
    }
    */
    a:link, 
    h3 {
      text-align: center;
      line-height: 1.1;
      @include font(standard, bold, h3)
/*       @media screen and (min-width: $tablet_width) {
          @include font-size(standard, h3);
      } */
    }
    img {
      display: block;
      margin: auto;
      margin-bottom: 0.5rem;
      transition: filter .2s;
      width: 60px;
      height: auto;
      object-fit: contain;
    }
    a {
      display: block;
      text-decoration: none;
      transition: color .2s;      
      padding: 0.5rem;
      &:link,
      &:visited {
        color: $blue-regular;
      }

      &:hover,
      &:active,
      &:focus {
        color: $blue-light;
        /*
        img {
          filter: brightness(2);
        }
        */
      }
    }
  }
}

.values {
  &.bloc_is_blue {
    background-color: $blue-regular;
    color: $white;
  }
  &.bloc_is_white {
    background-color: $white;
    color: $blue-regular;
  }
  .values-img-container {
    padding: 15px;
    margin-bottom: 1rem;
  }
  .values-img {
    width: 60px;
    height: auto;
  }
}