.wp-block-button__link{
    @include button;
}

.is-style-outline,.is-style-white-border{
    .wp-block-button__link{
        color: $white;
        background: transparent;
        border-color: $white;
        &:hover {
            color: $blue-light;
            background: $white;
        }
        &:active,
        &:focus {
            color: $blue-light;
            background: $blue-regular;
            border-color: $blue-regular;
        }
    }
}

.is-style-outline,.is-style-blue-border{
    .wp-block-button__link{
        color: $blue-light;
        background: transparent;
        border-color: $blue-light;
        &:hover {
            color: $white;
            background: $blue-light;
        }
        &:active,
        &:focus {
            color: $white;
            background: $blue-regular;
            border-color: $blue-regular;
        }
    }
}
