.pre-footer {
    h2 {
        margin-top: 0;
        margin-bottom: 1rem;
        @include font(standard, bold, h3);
/*         @media screen and (min-width: $tablet-width) {
          @include font-size(standard, h3-xl);
        } */
      }
      .baseline {
        margin: 0 auto;
        p {
          margin: 0;
        }
      }
      .button {
        margin-top: 1.5rem;
      }
}