.post-container-regular {
    display: grid;
    grid-template-columns: 1fr;
    //@include grid-gap;
    grid-gap: 1.5rem;
    //@include spacing(padding-left, $spacing-regular);
    //@include spacing(padding-right, $spacing-regular);
}
.recrutement-card {
    color: $white;
    display: grid;
    grid-template-columns: 1fr;
    object-fit: contain;
    @media screen and (min-width: 28rem) {
        grid-template-columns: minmax(10rem, 25%) auto;
        grid-template-rows: 1fr;
    }
    p,
    h3 {
        margin: 0;
        @media screen and (min-width: $tablet-width) {
            padding-right: 1.5rem;
        }
    }
    .xl,
    h3 {
        @include font(standard, regular, baseline);
/*         @media screen and (min-width: $tablet-width) {
            @include font-size(standard, baseline-xl);
        } */
    }
    .bold {
        @include font-weight(standard, black);
    }
    a:link {
        text-decoration: none;
        margin-top: 0;
        display: block;
        flex-shrink: 0;
        margin-top: 1rem;
        @media screen and (min-width: $tablet-width) {
            margin-top: 0;
            margin-left: auto;
        }
    }
    .recrutement-city,
    .recrutement-job {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        padding: 1rem;
        text-align: center;
        @media screen and (min-width: $tablet-width) {
        display: flex;
        flex-flow: row nowrap;
        text-align: left;
        }
    }
    .recrutement-job {
        background: $grey-lgt;
        justify-content: space-between;
        @media screen and (max-width: 28rem) {
            h3 {
                margin-bottom: 1rem;
            }
        }
    }
    .text-bloc {
        margin-left: 0;
    }
}

.recrutement-card-application {
    color: white;
    //background: $blue-medium;
    .recrutement-job {
        background-color: $blue-medium;
    }
    .recrutement-city {
        background-color: $blue-medium;
        position: relative;
        &::after {
            content:"";
            position: absolute;
            right: 0;
            bottom: 0;
            height: 1px;
            width: 100%;
            background: $white;
            @media screen and (min-width: 28rem) {
                right: 0;
                top: 15%;
                bottom: unset;
                height: 70%;
                width: 1px;
            }
        }
    }
}

.recrutement {
    background: $grey-lgt;
}

.testimonial-card {
    .recrutement-city {
        padding: 0;
        overflow: hidden;
        object-fit: contain;
        background: $white;
        &::after {
            display: none;
        }
        img{
            height: 100%;
            max-height: 6rem;
            width: auto;
            margin: auto;
            
        } 
    }
    .recrutement-job {
        color: $white;
        background: $blue-regular;
    }
}