.sub-service {
    > div {
        background: $white;
    }
    .sub-service-content-loop {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        width: 100%;
        /*
        display: grid;
        @include grid-gap;
        grid-template-columns: 1fr;
        //grid-template-rows: 1fr;
        @media screen and (min-width: 36rem) {
            grid-template-columns: 1fr 1fr;
            @media screen and (min-width: $tablet-width) {
                grid-template-columns: 1fr 1fr 1fr;
            }
        }
        */
    }
    .loop-item {
        display: flex;
        flex-flow: column nowrap;
        box-sizing: border-box;
        width: 100%;
        margin-bottom: 4rem;
        @media screen and (min-width: 36rem) {
            width: 49%;
            padding: 0 1rem;
            @media screen and (min-width: $tablet-width) {
                width: 32%;
            }
        }
    }
    a:link,
    a:visited {
        color: $blue-regular;
        //text-decoration: none;
        transition: color .2s;
        &:hover {
            //background: $grey-lgt;
            color: $blue-light;
        }
    }
    .item-link {
        display: block;
        //margin-top: auto;
        a:link,
        a:visited {
            color: $blue-light;
            border-color: currentColor;
            background: transparent;
        }
    }
    .item-title {
        height: 120px;
        margin-bottom: 1rem;
        z-index: 10;
        position: relative;
        padding: 1rem;
        &::after {
            z-index: -1;
        }
        h3 {
            font-size: 1.25rem;
            margin: auto;
        }
    }

    .item-title-content {
        position: absolute;
        width: 100%;
        //height: 100%;
       //display: flex;
        //flex-flow: column;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
    .sub-service-img {
        width: 40px;
        height: auto;
        object-fit: contain;
    }
    .item-content {
        text-align: left;
        object-fit: contain;
        img {
            display: block;
            max-width: 100%;
            height: auto;
        }
    }
}