.training-detail {
    @include diagonal('before', top, left, $grey-lgt);
    @include diagonal('after', bottom, right, $grey-lgt);
    background: $grey-lgt;
    .detail-loop {
        display: grid;
        grid-row-gap: 1rem;
        grid-template-columns: 1fr;
        @media screen and (min-width: $mobile-width) {
            grid-template-columns: 1fr 2fr;
            @media screen and (min-width: $tablet-width) {
                grid-template-columns: 1fr 2fr;
                grid-row-gap: 2rem;
            }
        }
        
        :first-child {
            margin-top: 0;
        }
        :last-child {
            margin-bottom: 0;
        }
        h3 {
            margin: 0;
        }
    }
}