.white-paper {
  color: white;
   min-height: 250px;
   background: $blue-light;
  .white-paper-wrapper {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  // If there is an image; layout is different :
  h2 {
    margin-top: 0;
    margin-bottom: 1rem;
    @include font(standard, bold, h3);
/*     @media screen and (min-width: $tablet-width) {
      @include font-size(standard, h3-xl);
    } */
  }
  .baseline {
    margin: 0 auto;
    p {
      margin: 0;
    }
  }
  .button {
    margin-top: 1.5rem;
  }
}

.white-paper.has-image {
  margin-bottom: 0;
  @media screen and (min-width: $mobile-width) {
    margin-bottom: 40px;
    @media screen and (min-width: $tablet-width) {
      margin-bottom: 60px;
    }
  }
  .white-paper-layout {
  padding: 0;
    @media screen and (min-width: $mobile-width + 100px) {
      display: grid;
      grid-template-columns: 140px auto 140px;
      align-items: center;
      //position: relative;
      //padding-right: 140px + map-get($grid-gap, mobile);
      @media screen and (min-width: $tablet-width) {
        grid-template-columns: 200px auto 200px;
        //padding: 0 (200px + map-get($grid-gap, mobile));
      }
    }
  }

  .white-paper-content {
    grid-column: 2;
  }

  .white-paper-image {
    grid-column: 3;
    margin: 0.5rem auto 0 auto;
    object-fit: contain;
    width: 140px;
    @media screen and (min-width: $tablet-width) {
      width: 200px;
    }
    /*
    @media screen and (min-width: $mobile-width) {
      margin: 0;
      position: absolute;
      right: 0;
      top: 0;
      @media screen and (min-width: $tablet-width) {
        width: 200px;
      }
    }
    */
    img {
      width: 100%;
      max-width: 100%;
      height: auto;
    }
  }
}
